body {
    height: 100%;
}
#main {
    background-image: url("../images/light-grey-terrazzo/light-grey-terrazzo.png");
    height: 1000px;
}

img {
    float: left;
}

#me{
    width: 20%;
    transform: rotate(90);
    margin:20px;
}

.label {
    border-bottom: 1px solid grey;
    color: #4aaaa5;
    margin:10px;
}

h1 {
    font-size: 3em;
    
}

li {
    display: inline;
    font-size: 1.5em;
    padding : 0px 20px;
   
}

ol {
    list-style-type: none;
    float: right; 
    
    
}

#header {
    padding: 20px 100px 0px 100px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 50px;
    background-color:#ffffff;
}
#header a {
    text-decoration: none;
    color: grey;
}

#name {
    display: inline;
    color: white;
    padding: 0px 10px;
    background-color: #4aaaa5;
}

#content {
    width: 960px;
    margin: auto;
    font-size: 1.5em;
    border: 2px solid #dddddd;
    overflow: auto; 
    background-color:#ffffff;
}

#content p {
    padding: 20px;
    
}

#footer {
    background-color: #666666;
    height: 50px;
    color: white;
    text-align: center;
}
.portimg {
   width: 225px;
   margin: 20px 60px 20px 60px;
} 

label {
    display: block;
}

form {
    width: 90%;
    margin: auto;
}

#headerContainer{
    width: 960px;
    margin: auto;
}
#break {
    border-left: solid 3px #cccccc;
    border-right: solid 3px #cccccc;
    padding: 20px;
}